body {
  margin: 0;
  height: 100vh;
  display: flex;  /*faz com que os itens internos consigam se organizar de forma flexivel, independente do seu tamanho*/
  align-items: center;     /*alinha divs e itens no cento vertical*/
  justify-content: center; /*alinha divs e itens no cento hotizontal*/
  background-color: black;
}
  

.borda {
  width: 97vw; 
  height: 92vh;   
  position: relative;
  background-color: #fff;
}
  
.quadrado-externo {
    width: 40vw;    
    height: 60vh;   
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}
  
 
.quadrado-meio {
    width: 32vw;   
    height: 45vh; 
    position: absolute;
    top: 7vh;   
    left: 4vw;   
    background-color: #4cffb6;
}

.boxCirculos {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: girar 6s linear infinite;
}

.circulo {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.circulo5 {
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circulo1 {
  background-color: #ffff99;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.circulo2 {
  background-color: #a4e9ff;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(0deg);
}

.circulo3 {
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(0deg);
}

.circulo4 {
  background-color: #ffa4ff;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(0deg);
}


@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}